<style type="text/css">

  md-dialog md-dialog-content {
    padding: 32px 24px 24px 24px;
  }
  
md-dialog.event-form-dialog {
  max-width: 720px;
  width: 720px;
}
md-dialog.event-form-dialog md-dialog-content {
  display: block;
  position: relative;
}
md-dialog.event-form-dialog form {
  overflow: hidden;
}
md-dialog.event-form-dialog form md-toolbar .title {
  font-size: 17px;
}
md-dialog.event-form-dialog form md-input-container textarea {
  min-height: 120px;
}
md-dialog.event-form-dialog form .date-row md-datepicker {
  margin-right: 24px;
}
md-dialog.event-form-dialog form .notifications {
  padding: 16px 0;
}
md-dialog.event-form-dialog form .notifications > .md-button {
  margin: 0;
}
md-dialog.event-form-dialog md-dialog-actions {
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  justify-content: space-between;
  border-top: 1px solid rgba(0,0,0,0.12);
  background-color: rgba(0,0,0,0.03);
}
@media screen and (max-width: $layout-breakpoint-sm) {
  md-dialog.event-form-dialog {
    width: 80%;
  }
}
@media screen and (max-width: $layout-breakpoint-xs) {
  md-dialog.event-form-dialog {
    width: 90%;
  }
}


</style>
<md-dialog class="event-form-dialog md-content-overflow md-transition-in" aria-label="New Message" role="dialog" tabindex="-1" aria-describedby="dialog_47" style="">
  <form name="eventForm" class="md-inline-form ng-pristine ng-invalid ng-invalid-required ng-valid-mindate ng-valid-maxdate ng-valid-filtered ng-valid-valid" novalidate="">
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools layout-align-space-between-center layout-row" layout="row" layout-align="space-between center">
        <span class="title ng-binding">Add Event1</span><button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate="" translate-attr-aria-label="CALENDAR.CLOSE_DIALOG"><md-icon md-font-icon="icon-close" class="ng-scope ng-isolate-scope md-font icon-close material-icons" aria-hidden="true"></md-icon></button></div>
    </md-toolbar>
    <md-dialog-content ms-scroll="" class="ms-scroll ps-container ps-theme-default ps-active-y" id="dialog_47" data-ps-id="fa89a451-d365-e032-4bba-766f172cda5b">

      <md-input-container class="md-block"><label translate="CALENDAR.TITLE" for="input_39">Title 213</label><input name="title" ng-model="vm.calendarEvent.title" required="" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" id="input_39" aria-invalid="true">
        <div ng-messages="eventForm.title.$error" ng-show="eventForm.title.$touched" role="alert" class="md-input-messages-animation ng-active ng-hide" aria-live="assertive" aria-hidden="true">
          <!-- ngMessage: required -->
          <div ng-message="required" class="md-input-message-animation" style="opacity: 1; margin-top: 0px;"><span translate="CALENDAR.ERRORS.TITLE_REQUIRED" class="ng-scope">Title field is required</span></div>
        </div>
        <div class="md-errors-spacer"></div>
      </md-input-container>
      <md-list class="all-day" role="list">
        <md-list-item role="listitem" class="md-proxy-focus md-clickable" tabindex="-1">
          <div class="md-no-style md-list-item-inner md-ink-ripple">
            <p translate="CALENDAR.ALL_DAY" class="ng-scope">All day</p>
            <md-switch class="md-secondary ng-pristine ng-untouched ng-valid ng-empty" ng-model="vm.calendarEvent.allday" aria-label="All day" translate="" translate-attr-aria-label="CALENDAR.ALL_DAY" role="checkbox" aria-checked="false" aria-invalid="false">
              <div class="md-container">
                <div class="md-bar"></div>
                <div class="md-thumb-container">
                  <div class="md-thumb md-ink-ripple" md-ink-ripple="" md-ink-ripple-checkbox=""></div>
                </div>
              </div>
              <div class="md-label"></div>
            </md-switch>
          </div>
        </md-list-item>
      </md-list>
      <div layout="row" class="date-row layout-row">
        <md-datepicker ng-model="vm.calendarEvent.start" md-placeholder="Start Date" class="ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty ng-valid-mindate ng-valid-maxdate ng-valid-filtered ng-valid-valid" tabindex="-1" aria-invalid="false"><button class="md-datepicker-button md-icon-button md-button md-ink-ripple" type="button" tabindex="-1" aria-hidden="true" ng-click="ctrl.openCalendarPane($event)"><md-icon class="md-datepicker-calendar-icon ng-isolate-scope" md-svg-icon="md-calendar" aria-label="md-calendar" role="img"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fit="" preserveAspectRatio="xMidYMid meet"><path d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"></path></svg></md-icon></button>
          <div class="md-datepicker-input-container" ng-class="{'md-datepicker-focused': ctrl.isFocused}"><input class="md-datepicker-input" aria-haspopup="true" ng-focus="ctrl.setFocused(true)" ng-blur="ctrl.setFocused(false)" placeholder="Start Date" size="11"><button class="md-datepicker-triangle-button md-icon-button md-button" type="button" md-no-ink="" ng-click="ctrl.openCalendarPane($event)" aria-label="Open calendar"><div class="md-datepicker-expand-triangle"></div></button></div>
          <div class="md-datepicker-calendar-pane md-whiteframe-z1" id="md-date-pane40">
            <div class="md-datepicker-input-mask">
              <div class="md-datepicker-input-mask-opaque"></div>
            </div>
            <div class="md-datepicker-calendar">
              <!-- ngIf: ctrl.isCalendarOpen -->
            </div>
          </div>
        </md-datepicker>
        <md-input-container flex="" md-no-float="" class="md-input-has-placeholder flex"><input ng-model="vm.calendarEvent.startTime" placeholder="Start Time" translate="" translate-attr-placeholder="CALENDAR.START_TIME" class="ng-pristine ng-untouched ng-valid md-input ng-empty" aria-label="Start Time" id="input_41" aria-invalid="false">
          <div class="md-errors-spacer"></div>
        </md-input-container>
      </div>
      <div layout="row" class="date-row layout-row">
        <md-datepicker ng-model="vm.calendarEvent.end" md-placeholder="End Date" class="ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty ng-valid-mindate ng-valid-maxdate ng-valid-filtered ng-valid-valid" tabindex="-1" aria-invalid="false"><button class="md-datepicker-button md-icon-button md-button md-ink-ripple" type="button" tabindex="-1" aria-hidden="true" ng-click="ctrl.openCalendarPane($event)"><md-icon class="md-datepicker-calendar-icon ng-isolate-scope" md-svg-icon="md-calendar" aria-label="md-calendar" role="img"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fit="" preserveAspectRatio="xMidYMid meet"><path d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"></path></svg></md-icon></button>
          <div class="md-datepicker-input-container" ng-class="{'md-datepicker-focused': ctrl.isFocused}"><input class="md-datepicker-input" aria-haspopup="true" ng-focus="ctrl.setFocused(true)" ng-blur="ctrl.setFocused(false)" placeholder="End Date" size="11"><button class="md-datepicker-triangle-button md-icon-button md-button" type="button" md-no-ink="" ng-click="ctrl.openCalendarPane($event)" aria-label="Open calendar"><div class="md-datepicker-expand-triangle"></div></button></div>
          <div class="md-datepicker-calendar-pane md-whiteframe-z1" id="md-date-pane42">
            <div class="md-datepicker-input-mask">
              <div class="md-datepicker-input-mask-opaque"></div>
            </div>
            <div class="md-datepicker-calendar">
              <!-- ngIf: ctrl.isCalendarOpen -->
            </div>
          </div>
        </md-datepicker>
        <md-input-container flex="" md-no-float="" class="md-input-has-placeholder flex"><input ng-model="vm.calendarEvent.endTime" placeholder="End Time" translate="" translate-attr-placeholder="CALENDAR.END_TIME" class="ng-pristine ng-untouched ng-valid md-input ng-empty" aria-label="End Time" id="input_43" aria-invalid="false">
          <div class="md-errors-spacer"></div>
        </md-input-container>
      </div>
      <md-input-container class="md-block flex" flex="">
        <label translate="CALENDAR.REPEAT" for="input_44">Repeat</label><input ng-model="vm.calendarEvent.repeat" class="ng-pristine ng-untouched ng-valid md-input ng-empty" id="input_44" aria-invalid="false">
        <div class="md-errors-spacer"></div>
      </md-input-container>
      <md-input-container class="md-block flex" flex=""><label translate="CALENDAR.LOCATION" for="input_45">Location</label><input ng-model="vm.calendarEvent.location" class="ng-pristine ng-untouched ng-valid md-input ng-empty" id="input_45" aria-invalid="false">
        <div class="md-errors-spacer"></div>
      </md-input-container>
      <div class="notifications layout-column" layout="column">
        <div class="title" translate="CALENDAR.NOTIFICATIONS">Notifications</div>
        <!-- ngRepeat: notification in vm.calendarEvent.notifications --><button class="md-button md-ink-ripple" type="button" aria-label="+ Add Another Notification" translate="CALENDAR.ADD_NOTIFICATION" translate-attr-aria-label="CALENDAR.ADD_NOTIFICATION">+ Add Another Notification</button></div>
      <md-input-container flex="" class="md-block textarea-container flex" style="height: auto;"><label translate="CALENDAR.NOTES" for="input_46">Notes</label><textarea ng-model="vm.task.notes" md-maxlength="250" class="ng-pristine ng-untouched ng-valid md-input ng-empty" id="input_46" rows="1" aria-invalid="false" ng-trim="false" style="height: 120px;"></textarea>
        <div class="md-errors-spacer">
          <div class="md-char-counter">0/250</div>
        </div>
      </md-input-container>

    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between center" class="layout-align-space-between-center layout-row">

    <button class="save-button md-accent md-raised md-button md-ink-ripple" type="button" ng-click="vm.saveEvent()" aria-label="SAVE" ng-disabled="eventForm.$invalid || eventForm.$pristine" translate="CALENDAR.SAVE" translate-attr-aria-label="CALENDAR.SAVE" disabled="disabled">SAVE</button>

    <button class="md-icon-button md-button md-ink-ripple" type="button" aria-label="Delete" translate="" translate-attr-aria-label="CALENDAR.DELETE">

   <md-icon class="material-icons"> <i class="material-icons">delete</i> </md-icon>
   </button>
</md-dialog-actions>
  </form>
  <div class="md-dialog-focus-trap" tabindex="0"></div>
</md-dialog>