<style>


md-dialog.event-detail-dialog {
  max-width: 560px;
  width: 560px;
}
md-dialog.event-detail-dialog md-dialog-content {
  position: relative;
  display: block;
}
md-dialog.event-detail-dialog md-toolbar .md-toolbar-tools {
  position: relative;
}
md-dialog.event-detail-dialog md-toolbar .md-toolbar-tools .title {
  font-size: 20px;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
md-dialog.event-detail-dialog md-toolbar .md-toolbar-tools .edit-event-button {
  position: absolute;
  right: 24px;
  bottom: -28px;
}
md-dialog.event-detail-dialog md-dialog-content {
  padding: 32px 24px 24px 24px;
}
md-dialog.event-detail-dialog md-dialog-content .event-details md-icon {
  margin: 0 16px 0 0;
}
md-dialog.event-detail-dialog md-dialog-content .event-details .event-detail-row {
  margin-bottom: 32px;
}
md-dialog.event-detail-dialog md-dialog-content .event-details .event-detail-row:last-child {
  margin-bottom: 16px;
}
@media screen and (max-width: $layout-breakpoint-sm) {
  md-dialog.event-detail-dialog {
    width: 80%;
  }
}
@media screen and (max-width: $layout-breakpoint-xs) {
  md-dialog.event-detail-dialog {
    width: 90%;
  }
}


</style>
<md-dialog class="event-detail-dialog md-transition-in" aria-label="New Message" role="dialog" tabindex="-1" aria-describedby="dialog_108" style="">
    <md-toolbar class="md-accent md-hue-2">
        <div class="md-toolbar-tools"><span class="title ng-binding">Long Event</span> <span flex="" class="flex"></span><button class="edit-event-button md-fab md-warn md-button ng-scope md-ink-ripple" type="button" ng-transclude="" ng-click="vm.editEvent(vm.calendarEvent)" aria-label="Edit event" translate="" translate-attr-aria-label="CALENDAR.EDIT_EVENT">

<md-icon class="material-icons"> <i class="material-icons">mode_edit</i> </md-icon>

        </button></div>
    </md-toolbar>
    <md-dialog-content ms-scroll="" class="ms-scroll ps-container ps-active-y" id="dialog_108" data-ps-id="a3ae6924-041b-5422-488f-01ce48e318db">
        <div class="event-details layout-column" layout="column">
            <div class="event-detail-row layout-align-start-start layout-row" layout="row" layout-align="start start">
              <md-icon  class="md-font material-icons" aria-hidden="true">alarm</md-icon>
                <div layout="column" flex="" class="layout-column flex"><span class="h4 ng-binding">January 30th 2016, 12:00:00 am <!-- ngIf: vm.calendarEvent.end --><span ng-if="vm.calendarEvent.end" class="ng-scope">-</span>
                    <!-- end ngIf: vm.calendarEvent.end -->February 2nd 2016, 12:00:00 am</span> <span class="secondary-text ng-binding">Does not repeat</span></div>
            </div>
            <div class="event-detail-row layout-align-start-start layout-row" layout="row" layout-align="start start">
                <md-icon class="md-font material-icons" aria-hidden="true">notifications</md-icon>
                <div layout="column" flex="" class="layout-column flex"><span class="h4 ng-scope" translate="CALENDAR.30_MIN_BEFORE">30 minutes before</span> <span class="h4 ng-scope" translate="CALENDAR.15_MIN_BEFORE">15 minutes before</span> <span class="h4 ng-scope" translate="CALENDAR.30_MIN_LATER">30 minutes later</span></div>
            </div>
            <div class="event-detail-row layout-align-start-start layout-row" layout="row" layout-align="start start">
                <md-icon  class="md-font material-icons" aria-hidden="true">place</md-icon>
                <div layout="column" flex="" class="layout-column flex"><span class="h4">Istanbul, Turkey</span></div>
            </div>
            <div class="event-detail-row layout-align-start-center layout-row" layout="row" layout-align="start center">
                <md-icon class="md-font material-icons" aria-hidden="true">person</md-icon>
                <div layout="row" flex="" class="layout-row flex"><img src="http://fuse-angular-material.withinpixels.com/assets/images/avatars/alice.jpg" class="avatar" alt="alice"> <img src="http://fuse-angular-material.withinpixels.com/assets/images/avatars/joyce.jpg" class="avatar" alt="joyce"> <img src="http://fuse-angular-material.withinpixels.com/assets/images/avatars/vincent.jpg" class="avatar" alt="vincent"></div>
            </div>
        </div>

    </md-dialog-content>
    <div class="md-dialog-focus-trap" tabindex="0"></div>
</md-dialog>