<!DOCTYPE html>
<html lang="en">

<head>
  <title>Angular Material - Starter App</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
  <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css" />
  <!-- <link rel="stylesheet" href="../bower_components/fullcalendar/dist/fullcalendar.css" /> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link rel="stylesheet" href="../bower_components/bootstrap-css/css/bootstrap.css" /> -->
  <link rel="stylesheet" href="../bower_components/fullcalendar/dist/fullcalendar.css">
  <link rel="stylesheet" type="text/css" href="../bower_components/material-calendar/angular-material-calendar.css">


  <link rel="stylesheet" href="assets/app.css" />
  <!-- <link rel="stylesheet" href="../_materialFullCalendar.css" /> -->
  <style type="text/css">
  /**
         * Hide when Angular is not yet loaded and initialized
         */
  
  [ng\:cloak],
  [ng-cloak],
  [data-ng-cloak],
  [x-ng-cloak],
  .ng-cloak,
  .x-ng-cloak {
    display: none !important;
  }
  /* Rules for sizing the icon. */
  
  .material-icons.md-18 {
    font-size: 18px;
  }
  
  .material-icons.md-24 {
    font-size: 24px;
  }
  
  .material-icons.md-36 {
    font-size: 36px;
  }
  
  .material-icons.md-48 {
    font-size: 48px;
  }
  /* Rules for using icons as black on a light background. */
  
  .material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
  }
  
  .material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
  }
  /* Rules for using icons as white on a dark background. */
  
  .material-icons.md-light {
    color: rgba(255, 255, 255, 1);
  }
  
  .material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
  }





















  </style>

</head>



<body ng-app="starterApp" layout="column" ng-controller="CalenderController" ng-cloak>
<style type="text/css">
  // Breadcrumbs
.breadcrumb {
  display: inline-block;
}

// Toolbar Search
.toolbar-search {
  background: transparent;
  border: 0;
  color: inherit;
  font-size: 0.8em;
  transition: max-width .5s, opacity 0.3s .3s;
  display: block !important;
  max-width: 200px;
  opacity: 1;
  text-indent: 1em;
  &::placeholder {
    color: inherit;
  }
  &.ng-show {
    @include fadeIn();
  }
  &.ng-hide {
    transition: max-width .3s .3s, opacity 0.5s;
    max-width: 0px;
    opacity: 0;
  }
}

// Toolbar Avatar
.toolbar-user-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  vertical-align: middle;
}

// Button
.toolbar-button {
  md-icon {
    position: relative;
  }
}

// Badges
$tri-badge-size: 2.2rem;
.toolbar-button-badge {
  display: block;
  position: absolute;
  height: 2rem;
  width: 2rem;
  right: 0.2rem;
  top: 0.8rem;
  line-height: 2rem;
  border-radius: 50%;
}

.toolbar-button-badge-new {
  @include wobble();
}
</style>
<div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-if="!vm.hideMenuButton()" ng-click="vm.openSideNav('left')" aria-label="side navigation">
        <md-icon class="material-icons">menu</md-icon>
    </md-button>

    <h2 hide-sm flex>
        <span ng-repeat="crumb in [1]">
            <span translate>Overtime Tracking Tool</span>
            <md-icon md-font-icon="zmdi zmdi-chevron-right" ng-if="!$last">
        </span>
    </h2>

    <md-menu>
        <md-button class="md-icon-button" aria-label="language" ng-click="$mdOpenMenu()" aria-label="change language">
            <md-icon md-font-icon="zmdi zmdi-globe-alt"></md-icon>
        </md-button>
        <md-menu-content width="3">
            <md-menu-item ng-repeat="language in ::vm.languages">
                <md-button ng-click="vm.switchLanguage(language.key)" translate="{{::language.name}}" aria-label="{{::language.name}}"></md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>

    <md-button class="md-icon-button toolbar-button animated" ng-click="vm.toggleNotificationsTab(0)" aria-label="side navigation">
        <md-icon class="material-icons">email</md-icon>
        <span class="toolbar-button-badge animated" theme-background="accent" ng-class="{ 'toolbar-button-badge-new' : vm.emailNew }">5</span>
    </md-button>

    <md-button class="md-icon-button toolbar-button" ng-click="vm.toggleNotificationsTab(1)">
        <md-icon class="material-icons">notifications</md-icon>
        <span class="toolbar-button-badge" theme-background="accent">2</span>
    </md-button>

    <md-menu>
        <md-button aria-label="Open user menu" ng-click="$mdOpenMenu()" aria-label="side navigation">
            <img class="toolbar-user-avatar" src="assets/images/avatars/avatar-5.png">
            Christos
        </md-button>
        <md-menu-content width="4">
            <md-menu-item>
                <md-button ng-click="vm.toggleNotificationsTab(2)" aria-label="side navigation">
                    <md-icon md-font-icon="zmdi zmdi-settings"></md-icon>
                    <span translate="ADMIN.TOOLBAR.SETTINGS"></span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button href="#/profile" aria-label="side navigation">
                    <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                    <span translate="ADMIN.TOOLBAR.PROFILE"></span>
                </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-button href="#/login" aria-label="side navigation">
                    <md-icon md-font-icon="zmdi zmdi-sign-in"></md-icon>
                    <span translate="ADMIN.TOOLBAR.LOGOUT"></span>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>




  <div flex tabIndex="-1" role="main" class="md-whiteframe-z2">
    <div role="main">
      <div class="container">
        <section id="directives-calendar" ng-controller="CalenderController">

          <div class="well">
            <div class="row-fluid">

              <md-button style="
                  position: fixed;
                  bottom: 10px;
                  right: 10px;
                  " class="md-fab md-primary" aria-label="Use Android" ng-click="showAlert($event)">
                <md-icon class="material-icons md-light"> <i class="material-icons">add</i> </md-icon>
              </md-button>


              <md-content>
                <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
                  <md-tab label="AxS Dev One" data-ng-click="renderCalender('myCalendar1');">
                    <md-content class="md-padding">
                      <!-- <h1 class="md-display-2">Tab One</h1> -->
                      <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                        <h4>{{alertMessage}}</h4>
                      </div>
                      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                        <md-button class="md-raised md-primary" ng-click="changeView('agendaDay', 'myCalendar1')">AgendaDay</md-button>
                        <md-button class="md-raised md-primary" ng-click="changeView('agendaWeek', 'myCalendar1')">AgendaWeek</md-button>
                        <md-button class="md-raised md-primary" ng-click="changeView('month', 'myCalendar1')">Month</md-button>

                      </section>
                      <p>
                        <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
                      </p>
                    </md-content>
                  </md-tab>
                  <md-tab label="AxS Dev Two" data-ng-click="renderCalender('myCalendar2');">
                    <md-content class="md-padding">
                      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                        <md-button class="md-raised md-primary" ng-click="changeView('agendaDay', 'myCalendar2')">AgendaDay</md-button>
                        <md-button class="md-raised md-primary" ng-click="changeView('agendaWeek', 'myCalendar2')">AgendaWeek</md-button>
                        <md-button class="md-raised md-primary" ng-click="changeView('month', 'myCalendar2')">Month</md-button>

                      </section>
                      <div class="calendar" ng-model="eventSources" calendar="myCalendar2" ui-calendar="uiConfig.calendar"></div>
                    </md-content>
                  </md-tab>
                  <md-tab label="AxS QA" data-ng-click="renderCalender('myCalendar3');">
                    <md-content class="md-padding">
                      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                        <md-button class="md-raised md-primary" ng-click="changeView('agendaDay', 'myCalendar3')">AgendaDay</md-button>
                        <md-button class="md-raised md-primary" ng-click="changeView('agendaWeek', 'myCalendar3')">AgendaWeek</md-button>
                        <md-button class="md-raised md-primary" ng-click="changeView('month', 'myCalendar3')">Month</md-button>

                      </section>
                      <div class="calendar" ng-model="eventSources2" calendar="myCalendar3" ui-calendar="uiConfig.calendar"></div>
                    </md-content>
                  </md-tab>
                </md-tabs>
              </md-content>


              <div class="span12">

              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

  </div>

  <!-- jquery, moment, and angular have to get included before fullcalendar -->


  <!-- jquery, moment, and angular have to get included before fullcalendar -->
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/moment/min/moment.min.js"></script>
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../bower_components/angular-aria/angular-aria.js"></script>
  <script src="../bower_components/angular-material/angular-material.js"></script>


  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
  <script src="../bower_components/moment/moment.js"></script>

  <script src="../bower_components/angular-ui-calendar/src/calendar.js"></script>
  <script src="../bower_components/fullcalendar/dist/fullcalendar.min.js"></script>


  <script src="../bower_components/fullcalendar/dist/gcal.js"></script>


  <script src="./src/users/Users.js"></script>
  <script src="./src/users/UserController.js"></script>
  <script src="./src/users/UserService.js"></script>

  <script src="./src/calendar/calendar.js"></script>
  <script src="./src/calendar/calendar.controller.js"></script>
  <script src="./src/calendar/event-dialog.controller.js"></script>

  <script type="text/javascript">
  angular
    .module('starterApp', ['ngMaterial', 'ui.calendar', 'ui.bootstrap',
      'users', 'module.calendar'
    ])
    .config(function($mdThemingProvider, $mdIconProvider)
    {

      $mdIconProvider
        .defaultIconSet("./assets/svg/avatars.svg", 128)
        .icon("menu", "./assets/svg/menu.svg", 24)
        .icon("share", "./assets/svg/share.svg", 24)
        .icon("google_plus", "./assets/svg/google_plus.svg", 512)
        .icon("hangouts", "./assets/svg/hangouts.svg", 512)
        .icon("twitter", "./assets/svg/twitter.svg", 512)
        .icon("phone", "./assets/svg/phone.svg", 512);

      $mdThemingProvider.theme('default')
        .primaryPalette('blue')
        .accentPalette('blue');



    });
  </script>

</body>

</html>